@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

$primaryfont: Inconsolata;

$primaryColor: #342c2c;
$secondaryColor: #d7d5c7;
$tertiaryColor: #bd6e4f;

$baseSpacingCardText: 2px;
$baseSpacingCard: 5px