@import "../../variables.scss";

.beercard{
    outline: 3px solid $primaryColor;
    width: 250px;
    height: 400px;
    display: inline-block;
    text-align: center;
    background-color: $secondaryColor;
    font-family: $primaryfont;
    margin: $baseSpacingCard;
    overflow-y: hidden;
    
    .img {
        max-width: 125px;
        max-height: 125px;
        outline: 3px double $tertiaryColor;
        padding: $baseSpacingCard;
        margin: $baseSpacingCard;
    }

    .header {
        color: $tertiaryColor;
        text-decoration: underline;
        font-size: 20px;
        margin: $baseSpacingCardText;
        padding: $baseSpacingCardText;
        text-shadow: 1px 1px 1px $primaryColor;
    }

    .subheader {
        color: $primaryColor;
        font-size: 15px;
        margin: $baseSpacingCardText;
        padding: $baseSpacingCardText;
    }
    .description {
        color: $primaryColor;
        font-size: 10px;
        margin: $baseSpacingCardText;
        padding: $baseSpacingCardText;
    }
}